/**************************/
/* HEADER */
/**************************/

.header {
  /* background: var(--bg-main-color); */
  background: var(--bg-main-dark-color);
  margin-bottom: 6.4rem;
}

/**************************/
/* NAV*/
/**************************/
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  border-bottom: 1px #333 dotted;
  font-size: 1.5rem;
  align-items: center;
  color: var(--light-text-color);
}

.logo a {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.logo-name {
  font-weight: bold;
  margin-right: 0.5rem;
}

.logo-icon {
  color: var(--primary-color);
  font-size: 2rem;
  background: var(--light-text-color);
  border-radius: 1000px;
}

.logo-icon:hover {
  transform: rotate(360deg);
  transition: all 2s ease-in-out;
}

.nav-items {
  list-style: none;
  display: flex;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
}

.nav-items .nav-links {
  border-bottom: 2px solid transparent;
  padding: 0;
  padding-bottom: 5px;
}

.nav-links:link,
.nav-links:visited {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--light-text-color);
}

.nav-links:hover,
.nav-links:active {
  border-bottom: 2px solid #505050;
}

.nav-utilities {
  display: flex;
  cursor: pointer;
}
.nav-utilities a {
  color: var(--light-text-color);
}

.shopping,
.user-profile {
  padding: 0.25rem 1rem;
  font-size: 1.6rem;
}

.shopping:hover,
.shopping:active,
.user-profile:hover,
.user-profile:active {
  transform: scale(1.3);
  transition: all 0.2s ease-in;
}

/**************************/
/* HERO SECTION */
/**************************/

.hero-section {
  height: 70vh;
  display: flex;
  text-align: left;
  line-height: 1.2;
  color: #fff;
  background: #0d0d0d;
}

.hero-text-area {
  flex: 1;
  padding: 3.2rem;
}

.hero-tag {
  margin-top: 5rem;
  color: #505050;
}

.hero-img {
  flex: 2;
  width: 100%;
  background-image: url("../Hero-device-removebg.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

/**************************/
/* CATEGORY SECTION */
/**************************/

.category-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 30vh;
  gap: 1rem;
}

.category-box {
  margin: 0 auto;
  width: 90%;
  position: relative;
  background: #e7e5e5;
  border-radius: 0.5rem;
}

.img-box {
  width: 125px;
  height: 125px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 7px 8px rgba(0, 0, 0, 0.6));
  transition: all 0.3s ease-in;
}

.img-box:hover {
  transform: translate(-50%, -60%);
}

.category-box:nth-child(2) .img-box {
  transform: translate(-50%, -40%);
}
.category-box:nth-child(2) .img-box:hover {
  transform: translate(-50%, -50%);
}

.category-box .box-1,
.category-box .box-2,
.category-box .box-3 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.category-box .box-1 {
  background-image: url("../Headphones/Headphones-1.png");
}
.category-box .box-2 {
  background-image: url("../Speakers/Speaker-main.png");
}
.category-box .box-3 {
  background-image: url("../Earphones/samsung-3_ccexpress.png");
}

.category-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 2.4rem;
}

.category-name,
.category-link {
  padding: 0.8rem 1.6rem;
}

.category-link:link,
.category-link:visited {
  color: #505050;
  font-weight: 500;
  font-size: 1rem;
}

/**************************/
/* PRODUCT SECTION */
/**************************/

.products-section {
  font-family: "Poppins", sans-serif;
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  padding: 2rem;
  column-gap: 1.5rem;
  row-gap: 3rem;
  overflow: hidden;
}

.products-section .box-1,
.products-section .box-2,
.products-section .box-3,
.products-section .box-4 {
  border-radius: 5px;
  overflow: hidden;
}

.products-section .box-1,
.products-section .box-2 {
  grid-column: 1 / span 2;
}
.products-section .box-3,
.products-section .box-4 {
  grid-row: 6 / span 2;
}

.products-section .box-1 {
  grid-row: 1 / span 3;
  display: flex;
  position: relative;
}
.products-section .box-1::before {
  position: absolute;
  content: "";
  top: -10%;
  left: -15%;
  width: 75%;
  height: 200%;
  border: 1px solid var(--primary-bg-text-color);
  border-radius: 50%;
  z-index: 1;
}

.circles::before {
  position: absolute;
  content: "";
  top: 20%;
  left: 5%;
  width: 35%;
  height: 100%;
  border: 1px solid var(--primary-bg-text-color);
  border-radius: 50%;
}

.circles::after {
  position: absolute;
  content: "";
  top: 25%;
  left: 7.5%;
  width: 30%;
  height: 90%;
  border: 1px solid var(--primary-bg-text-color);
  border-radius: 50%;
}
.products-section .box-2 {
  grid-row: 4 / span 2;
  display: flex;
}

/* LEFT FIRST BOX */
.box-1 .product-img {
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
  background: var(--primary-color);
}

.box-1 .product-text-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 3rem;
  background: var(--primary-color);
}
.box-1 .product-img img {
  width: 100%;
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 1;
}

/* RIGHT FIRST BOX */
.box-1 .product-text--header,
.box-1 .product-text {
  padding: 1rem 0;
  z-index: 2;
}
.box-1 .product-text--header {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--light-text-color);
  width: 100%;
  padding-right: 25rem;
  font-weight: 300;
}

.product-text {
  line-height: 1.4;
  font-size: 1.2rem;
  padding-right: 6rem;
  color: #f1f1f1b9;
}

.product-button {
  border: none;
  margin-top: 1rem;
  z-index: 2;
}

/* LEFT SECOND BOX */
.box-2 .product-text-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
  position: relative;
}

.box-2 .product-text-area::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7e5e5;
  z-index: -1;
}

.box-2 .product-text--header {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.box-2 .product-text--header::first-letter {
  font-size: 3rem;
  font-weight: 400;
}
.box-2 .product-img {
  flex: 1.5;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.box-2 .product-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7e5e5;
  z-index: -1;
}

.box-2 .product-img img {
  width: 100%;
  position: absolute;
  top: -90%;
  right: -30%;
  transform: scale(1.6);
}

/* THIRD BOX */
.products-section .box-3 .product-img {
  overflow: hidden;
  transform: translateY(-20%);
}

.products-section .box-3 .product-img img {
  width: 100%;
  transform: scale(10);
  transform: translateY(-20%);
}

.box-4 .product-text--header {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.products-section .box-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
  position: relative;
  background: var(--light-bg-color);
}

.box-4 .product-text--header::first-letter {
  font-size: 3rem;
  font-weight: 400;
}

/**************************/
/* CTA SECTION */
/**************************/
.cta-section {
  height: 75vh;
  display: flex;
}

.cta-text-area,
.cta-img-area {
  flex: 1;
  border-radius: 10px;
}

.cta-text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}
.cta-lead-text,
.cta-sub-text {
  padding: 0 2rem;
}
.cta-lead-text {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  padding-right: 15rem;
  line-height: 1.1;
}

.cta-sub-text {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #919191;
  padding-right: 3rem;
}

.cta-img-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-img {
  width: 80%;
  height: 80%;
  overflow: hidden;
  border-radius: 10px;
  background-image: url("../brand-face-3.1-modified.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.cta-img img {
  width: 100%;
  height: 100%;
}

/**************************/
/* FOOTER SECTION */
/**************************/
footer {
  background: var(--bg-main-dark-color);
}

.footer-section {
  display: flex;
  height: 40vh;
  gap: 1.5rem;
}

.footer-text-area,
.footer-links-area {
  flex: 1;
}

.footer-text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 4rem;
  color: #999;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-logo .footer-logo--name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--light-text-color);
}
.footer-logo .logo-icon {
  margin-left: 1rem;
}

.footer-text {
  line-height: 1.5;
  font-size: 1.1rem;
}

.footer-copyright {
  font-weight: 600;
}

.footer-links-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-links {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: 5rem;
  text-transform: uppercase;
}

.footer-link:active,
.footer-link:hover {
  color: var(--primary-color);
}

.footer-link {
  color: var(--light-text-color);
}

.footer-icons {
  align-self: flex-end;
  display: flex;
  margin-right: 5rem;
  font-size: 1.5rem;
}

.footer-icon {
  color: var(--light-text-color);
  cursor: pointer;
  border-radius: 10px;
}

.footer-icon:hover,
.footer-icon:active {
  color: var(--primary-color);
}
.footer-icon i {
  border-radius: 10px;
}

/*************PAGE 2*************/
/* HEADPHONES SECTION */
/**************************/
.headphones-section {
  padding: 2rem;
  height: 75vh;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 6.4rem auto;
  margin-bottom: 9.6rem;
}

.back {
  color: var(--bg-main-dark-color);
  font-size: 1.1rem;
  font-weight: 600;
}

.headphones-hero-section {
  display: flex;
  height: 100%;
  column-gap: 1rem;
}

.headphones-img-area,
.headphones-text-area {
  flex: 1;
}
.headphones-text-area {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.headphones-img-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  border-radius: 10px;
}

.headphones-img {
  width: 70%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.6));
}

.headphones-pricing {
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.purchase-buttons {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.quantity {
  position: relative;
}

.quantity {
  width: 80px;
  height: 35px;
  line-height: 1.65;
  margin: 0;
  border-radius: 2px;
  background: #f1f1f1;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.quantity-input {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  background: #f1f1f1;
}

.quantity-input:focus {
  outline: 0;
}

.add-to-cart {
  font-weight: 600;
  font-size: 0.8rem;
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  color: var(--light-text-color);
  background: var(--primary-color);
  border-radius: 3px;
  transition: 0.1s all ease-in;
}

.add-to-cart:active,
.add-to-cart:hover {
  background: var(--primary-bg-text-color);
}

/*************PAGE 2*************/
/* FEATURES SECTION */
/**************************/

.features-section {
  height: 50vh;
  display: flex;
  padding: 2rem;
  column-gap: 5rem;
}

.features-text-area {
  flex: 2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.features-text-header {
  margin-bottom: 2rem;
}

.features-text {
  padding-right: 4rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: #a7a3a3;
  font-weight: 500;
}

.features-list-area {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.features-list-header {
  margin-bottom: 2rem;
}

.features-item {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: #a7a3a3;
}

.features-item span {
  margin-right: 1.5rem;
  font-size: 1.3rem;
}

/*************PAGE 2*************/
/* ADVERT SECTION */
/**************************/
.advert-section {
  height: 70vh;
  width: 60%;
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem;
  column-gap: 2rem;
  row-gap: 1.5rem;
  /* overflow: hidden; */
}

.advert-section .box-1,
.advert-section .box-2,
.advert-section .box-3 {
  border-radius: 5px;
}

.advert-section .box-1 {
  width: 100%;
  background: url(../brand-face-3.1-modified.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  grid-column: 1 / span 2;
}
.advert-section .box-2 {
  grid-column: 2;
  /* background: #1a1a1a; */
  background: linear-gradient(
    to top right,
    #191919,
    #191919,
    #191919,
    #313131,
    #313131d2
  );
  overflow: hidden;
  grid-column: 3 / span 3;
  grid-row: 1 / span 2;
}
.advert-section .box-3 {
  width: 100%;
  grid-column: 1 / span 2;
  background: url(../advert-1-modified.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advert-img {
  width: 150%;
  transform: translate(-10%, -20%);
}

.also-like {
  margin: 9.6rem auto;
  height: 100vh;
  border: 2px solid red;
  padding: 2rem;
}

.also-like-main {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.also-like-header {
  border: 2px solid red;
  margin-bottom: 1rem;
  text-align: center;
}

.also-like-display {
  border: 2px solid blue;
  height: 50vh;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.category-section {
  border: 2px solid green;
  width: 100%;
}

.also-like-product {
  flex: 1;
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  row-gap: 1rem;
  /* overflow: hidden; */
}

.also-like-text {
  border: 2px solid yellow;
  flex: 1;
}

.also-like-img {
  border: 2px solid indianred;
  flex: 3;
  width: 80%;
  align-self: center;
  display: flex;
  padding: 1rem;
  background-color: yellow;
  overflow: hidden;
}

/* .test-1 {
  background-color: red;
  width: 75rem;
  height: 100%;
} */

/* .also-image-container {
  width: 75rem;
  background-color: pink;
  height: 300px;
  clear: both;
  position: relative;
  transition: left 2s;
}

.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.also-img {
  width: 33%;
  height: 100%;
}

#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -25rem;
}
#slide-3:target ~ .image-container {
  left: -50rem;
}

.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: lightgreen;
} */

/* <!DOCTYPE html>
<html>
  <head>
    <title>Slideshow Images</title>
    <style>
      .slider {
        width: 500px;
        height: 300px;
        background-color: yellow;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
      }
      .image-container {
        width: 1500px;
        background-color: pink;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
      }
      .slide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
      }
      #slide-1:target ~ .image-container {
        left: 0px;
      }
      #slide-2:target ~ .image-container {
        left: -500px;
      }
      #slide-3:target ~ .image-container {
        left: -1000px;
      }
      .buttons {
        position: relative;
        top: -20px;
      }
      .buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: lightgreen;
      }
    </style>
  </head>
  <body>
    <div class="slider">
      <span id="slide-1"></span>
      <span id="slide-2"></span>
      <span id="slide-3"></span>
      <div class="image-container">
        <img src="/uploads/media/default/0001/03/66cf5094908491e69d8187bcf934050a4800b37f.jpeg" class="slide" width="500" height="300" />
        <img src="/uploads/media/default/0001/03/b7d624354d5fa22e38b0ab1f9b905fb08ccc6a05.jpeg" class="slide" width="500" height="300" />
        <img src="/uploads/media/default/0001/03/5bfad15a7fd24d448a48605baf52655a5bbe5a71.jpeg" class="slide" width="500" height="300" />
      </div>
      <div class="buttons">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
      </div>
    </div>
  </body>
</html> */

/* 
.spinner-button {
  position: absolute;
  cursor: default;
  z-index: 2;
  background-color: #ccc;
  width: 14.5px;
  text-align: center;
  margin: 0px;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 10px;
  line-height: 10px;

} */

/* input[type="number"] {
  -moz-appearance: textfield;
}



.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
} */ ;
